body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./components/background/nepal-flag.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(254, 254, 254);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.app {
  text-align: center;
  margin: 20px;
}

.content {
  margin: 20px;
}
h1 {
  margin: 10px;
  padding: 20px;
}
p {
  font-size: 20px;
}
h2 {
  color: black;
}
button {
  border-radius: 15px;
  margin: 10px;
  padding: 12px;
}
